@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="characterbuilder" class="menu-link">
                <span class="menu-icon bi-person-plus"></span>
                <span class="menu-text">Character Builder</span>
            </a>
            <a href="mycharacters" class="menu-link">
                <span class="menu-icon bi-people"></span>
                <span class="menu-text">My Characters</span>
            </a>
            <a href="settings" class="menu-link">
                <span class="menu-icon bi-gear"></span>
                <span class="menu-text">Settings</span>
            </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>