<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DndInator</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="species">
                <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Species
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="classes">
                <span class="bi bi-shield-nav-menu" aria-hidden="true"></span> Classes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="backgrounds">
                <span class="bi bi-journal-text-nav-menu" aria-hidden="true"></span> Backgrounds
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="feats">
                <span class="bi bi-trophy-nav-menu" aria-hidden="true"></span> Feats
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="spells">
                <span class="bi bi-stars-nav-menu" aria-hidden="true"></span> Spells
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="magic-items">
                <span class="bi bi-gem-nav-menu" aria-hidden="true"></span> Magic Items
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weapons">
                <span class="bi bi-crosshair-nav-menu" aria-hidden="true"></span> Weapons
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="armor">
                <span class="bi bi-shield-fill-nav-menu" aria-hidden="true"></span> Armor
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="adventuring-gear">
                <span class="bi bi-backpack-nav-menu" aria-hidden="true"></span> Adventuring Gear
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mounts-and-vehicles">
                <span class="bi bi-truck-nav-menu" aria-hidden="true"></span> Mounts & Vehicles
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="poisons">
                <span class="bi bi-droplet-nav-menu" aria-hidden="true"></span> Poisons
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tools">
                <span class="bi bi-tools-nav-menu" aria-hidden="true"></span> Tools
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="trinkets">
                <span class="bi bi-gem-trinket-nav-menu" aria-hidden="true"></span> Trinkets
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="charactersheet">
                <span class="bi bi-file-earmark-pdf-nav-menu" aria-hidden="true"></span> Character Sheet
            </NavLink>
        </div>
        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lineages">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Lineages
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div> *@
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}