// Custom Font Definitions
// Place your font files in ../fonts/ directory

// Quentin - Heading Font (OTF)
@font-face {
  font-family: 'Quentin';
  src: url('./fonts/QuentinEF_Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Souvenir - Body Text Font (TTF)
@font-face {
  font-family: 'Souvenir';
  src: url('./fonts/Souvenir.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Souvenir';
  src: url('./fonts/SouvenirB.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Souvenir';
  src: url('./fonts/SouvenirI.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Souvenir';
  src: url('./fonts/SouvenirBI.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
